@import "../scss/bootstrap-5.2.3/scss/bootstrap.scss";

body {
    background-color: $light;
}


.rounded{
    width: 15% !important;
    height: 15% !important;
    margin-top: 1rem*8 !important;
    
}