@import "../scss/bootstrap-5.2.3/scss/bootstrap.scss";

body {
    background-color: $light;
}

.mx-auto{
    margin-top: 2rem;
}

@media (max-width: 412px) {
    .card{
        width: fit-content !important;
        margin-top: 0rem !important;
    }   
}

.btn-info{
    margin-left: 15px !important;

}